@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div style="width: 30%; margin: 0 auto">
        <input class="form-control mb-2" type="text" placeholder="Username" id="txt_user" />
        <input class="form-control mb-2" type="text" placeholder="Password" id="txt_pass" />
        <div>
            <button class="btn btn-primary mb-2" onclick="login();">Login</button>
        </div>
        <div>
            <button class="btn btn-success" onclick="authenticate();">Authenticate</button>
        </div>
    </div>
</div>

<script>
    var token = '';

    function login() {
        $.ajax({
            type: 'POST',
            url: '/Home/Login',
            dataType: 'json',
            data: {
                Username: $('#txt_user').val(),
                Password: $('#txt_pass').val()
            },
            success: function (response) {
                if (response != '') {
                    alert('You are authenticated!');
                    token = response;
                }
                else
                    alert('Login failed.');
            }
        });
    }

    function authenticate() {
        $.ajax({
            type: 'POST',
            url: '/Home/Authenticate',
            dataType: 'json',
            headers: { "Authorization": "Bearer " + token },
            success: function (response) {

                if (response.isAuthenticated)
                    alert('You are authenticated!');
                else
                    alert('Not authenticated.');
            },
            error: function (err) {
                alert(JSON.stringify(err));
            }
        })
    }
</script>
